<html>
    <head>
        <title>Мои инвестиции</title>
        <link href="../public/css/main/main.css" rel="stylesheet">
        <script src="../public/js/main/main.js"></script>
    </head>
    <body>
        <div class="Frame" id="Frame">
            <div class="Form FormActive" id="Form">
                <div class="LabelForm">Мои инвестиции</div>
                <table   width="100%" cellpadding="5" id="Table">
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                    <col class="col6">
                    <col span="9" class="coln">
                    <tr>
                        <th class="Label" class="col1">Имя</th>
                        <th class="Label">Идентификатор</th>
                        <th class="Label">Цена</th>
                        <th class="Label">Количество</th>
                        <th class="Label">Базовая цена</th>
                        <th class="Label">Рыночная цена</th>
                        <th class="Label">Прибыль/ убыток</th>
                        <th class="Label">Прибыль/ убыток (%) </th>
                        <th class="Label">Ожидаемая доходность (%) </th>
                        <th class="Label">Ср. ежемес. доход </th>
                        <th class="Label">Дата поступления дивидендов</th>
                        <th class="Label">Размер поступления дивидендов</th>
                        <th class="Label">Комиссия (%)</th>
                        <th class="Label">Валюта</th>
                        <th class="Label">Брокер</th>
                        <th class="Label">Дата покупки</th>
                        <th class="Label">Категория</th>
                        <th class="Label">Класс актива</th>
                    </tr>
                </table>
                <div class="DivButton">
                    <div class="btnNewRec" onclick="OnClickAddNewRec()">Добавить запись</div>
                </div>
            </div>
        </div>

    </body>
</html>