<html>
    <head>
        <title>Мои инвестиции</title>
        <link href="../public/css/main/main.css" rel="stylesheet">
        <script src="../public/js/main/main.js"></script>
    </head>
    <body>
        <div class="Frame" id="Frame">
            <div class="Form" id="Form">
                <div class="LabelForm">Мои инвестиции</div>
                <table   width="100%" cellpadding="5" id="Table">
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                    <col class="col6">
                    <col span="9" class="coln">
                    <tr>
                        <th class="Label" class="col1">Имя</th>
                        <th class="Label">Идентификатор</th>
                        <th class="Label">Цена</th>
                        <th class="Label">Количество</th>
                        <th class="Label">Базовая цена</th>
                        <th class="Label">Рыночная цена</th>
                        <th class="Label">Прибыль/ убыток</th>
                        <th class="Label">Прибыль/ убыток (%) </th>
                        <th class="Label">Ожидаемая доходность (%) </th>
                        <th class="Label">Ср. ежемес. доход </th>
                        <th class="Label">Дата поступления дивидендов</th>
                        <th class="Label">Размер поступления дивидендов</th>
                        <th class="Label">Комиссия (%)</th>
                        <th class="Label">Валюта</th>
                        <th class="Label">Брокер</th>
                        <th class="Label">Дата покупки</th>
                        <th class="Label">Категория</th>
                        <th class="Label">Класс актива</th>
                    </tr>
                </table>
                <div class="DivButton">
                    <div class="btnNewRec" onclick="OnClickAddNewRec()">Добавить запись</div>
                </div>
            </div>
        </Frame>
        <div class="ParametrsDiv">
            <div class="LabelForm" id="ParametrsLabel">Параметры позиции</div>
            <dic class="InputPanel">
                <label class="LabelInput">Имя позиции<input type="text" class="InputParametrs" id="NameInput"></label>
                <label class="LabelInput">Идентификатор позиции <label class="NecessarilyLabel">*</label><input type="text" class="InputParametrs" id="IdInput"></label>
                <label class="LabelInput">Количество <label class="NecessarilyLabel">*</label><input type="number" class="InputParametrs" id="CountInput"></label>
                <label class="LabelInput">Базовая цена <br /> (цена покупки позиции) <label class="NecessarilyLabel">*</label><input type="number" class="InputParametrs" id="PurchasePriceInput"></label>
                <label class="LabelInput">Брокер<input type="text" class="InputParametrs" id="BrokerInput"></label>
                <label class="LabelInput">Комиссия брокера (%)<input type="number" class="InputParametrs" id="BrokersCommisionInput"></label>
                <label class="LabelInput">Валюта <label class="NecessarilyLabel">*</label><select class="InputParametrs" id="CurrencyInput"> 
                        <option>RUB</option>
                        <option>USD</option>
                        <option>EUR</option>
                    </select>
                </label>
                <label class="LabelInput">Категория<input type="text" class="InputParametrs" id="CategoryInput"></label>
                <label class="LabelInput">Класс актива <label class="NecessarilyLabel">*</label><select class="InputParametrs" id="ClassInput"> 
                    <option>Акция</option>
                    <option>Облигация</option>
                    <option>Фонд(ПИФ)</option>
                </select>
            </label>
            <div id="BtnActDiv" class="BtnActDiv">
                <div class="btnAct" id="BtnEdit" onclick="OnClickAddNewRec('rec_1')">Сохранить</div>
                <div class="btnAct" id="BtnRemove" onclick="OnClickAddNewRec('rec_1')">Удалить</div>
            </div> 
            </div>

        </div>
    </body>
</html>