.Frame{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.Form{
    background-color: white;
    width: 80%;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.FormActive{
    width: 98%;
}
.LabelForm{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    position: sticky;
    left: 0;
    top: 0;
    font-family: 'Segoe Ui';
}

table{
    border: none;
    width: 100%;
    table-layout: fixed;
}
.col1{
    width: 400px;
}
.col2{
    width: 200px;
}
.col3{
    width: 120px;
}
.col4{
    width: 120px;
}
th{
    background-color: #094d74;
    border-radius: 5px;
    font-family: 'Segoe Ui Light';
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(219, 219, 219);
    padding: 0;
    margin: 0;
    font-family: 'Segoe Ui Light';

}


td{
    margin-top: 5px;
    background-color: #cfdaec;
    border-radius: 5px;
    height: 60px;
    text-align: center;

}

#ParametrsLabel{
    position: initial;
}
.ParametrsDiv{
    background-color: white;
    width: 18%;
    padding: 10px;
    overflow: auto;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
}
.DivLabel{  
    display: flex;
}
.Label{
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    color: white;
    cursor: default;
    font-size: 18px;
    text-align: center;
    width: 200px;
}

#LastLabel{
    border-right: none;
}
#LabelName{
    width:250px;
}

.BtnActDiv{
    margin-top: 20px;
    width: 100%;
    left: 0;
    top: 0;
}
.DivButton{
    margin-top: 10px;
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
}
.btnNewRec{
    background-color: #9cb9d1;
    color:#eef0f6;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-family: 'Segoe Ui';

}
.btnNewRec:hover{
    background-color:#cfdaec;
    color: #094d74; 
    transition: 0.3s;
}
.btnAct{
    overflow: hidden;
    margin-top: 10px;
    font-family: 'Segoe Ui';
    background-color: #9cb9d1;
    color:#eef0f6;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
.btnAct:hover{
    background-color:#cfdaec;
    color: #094d74; 
    transition: 0.3s;
}
.InputPanel{
    width: 100%;
    display: flex;
    text-align: center;
    flex-flow: column;
}

.InputParametrs{
    text-align: center;
    text-align-last:center;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    outline: none;
    width: 85%;
    margin-top: 5px;
}
.LabelInput{
    font-size: 20px;
    margin-top: 10px;

}
.NecessarilyLabel{
    color: red;
}
.ImgCloseParamDiv{
    display: flex;
    justify-content:  flex-end;
    width: 100%;
}

@media (max-width : 800px){
    body{
        width: 800px;
    }
}
